<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
{{#user}}
    이름: {{user.name}}<br>
    계정: {{user.account}}<br>
    권한: {{user.auth}}<br>
{{/user}}
</body>
</html>